{{! workout posts }}
<article class="post">
  <div class="title">
    {{! post title }}
    <h3>{{title}}</h3>
    <p>{{contents}}</p>
  </div>
  <div class="meta">
    Created by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article