<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Workout Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <div>
        <textarea name="post-text" value="{{post.contents}}" cols="50" rows="7"></textarea>
      </div>
    </div>
    {{!-- TODO --}}
    {{!-- Change VOTES to CATEGORIES --}}
    {{!-- <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      | --}}
      <a href="/post/{{id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
    </div>
  </form>
</article>

{{!-- use comments partial to display comments --}}
{{> comments post.comments}}

{{!-- link front-end JS files --}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>